@import 'tailwindcss';

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('/resources/fonts/Roboto-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('/resources/fonts/Roboto-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('/resources/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('/resources/fonts/Roboto-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    src: url('/resources/fonts/Roboto-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: italic;
    src: url('/resources/fonts/Roboto-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('/resources/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url('/resources/fonts/Roboto-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'RobotoSerif';
    font-weight: 300;
    src: url('/resources/fonts/RobotoSerif-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'RobotoSerif';
    font-weight: 300;
    font-style: italic;
    src: url('/resources/fonts/RobotoSerif-LightItalic.woff2') format('woff2');
}


@font-face {
    font-family: 'RobotoSerif';
    font-weight: 400;
    src: url('/resources/fonts/RobotoSerif-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'RobotoSerif';
    font-weight: 400;
    font-style: italic;
    src: url('/resources/fonts/RobotoSerif-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'RobotoSerif';
    font-weight: 600;
    src: url('/resources/fonts/RobotoSerif-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'RobotoSerif';
    font-weight: 600;
    font-style: italic;
    src: url('/resources/fonts/RobotoSerif-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'RobotoSerif';
    font-weight: 700;
    src: url('/resources/fonts/RobotoSerif-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'RobotoSerif';
    font-weight: 700;
    font-style: italic;
    src: url('/resources/fonts/RobotoSerif-BoldItalic.woff2') format('woff2');
}

@layer base {}

@theme {
    --font-headline: "RobotoSerif", "serif";
    --font-default: "Roboto", "sans-serif";

    --color-base-50: oklch(0.9771 0.0032 210.53);
    --color-base-100: oklch(0.9536 0.0032 210.53);
    --color-base-200: oklch(0.779 0.0235 210.53);
    --color-base-300: oklch(0.7448 0.0235 210.53);
    --color-base-400: oklch(0.699 0.0235 210.53);
    --color-base-500: oklch(0.558 0.0235 210.53);
    --color-base-600: oklch(0.5127 0.0235 210.53);
    --color-base-700: oklch(0.4749 0.0235 210.53);
    --color-base-800: oklch(0.4585 0.0235 210.53);
    --color-base-900: oklch(0.2714 0.0268 210.53);
    --color-base-950: oklch(0.2025 0.0268 210.53);
    --color-highlight-500: oklch(0.8405 0.1529 179.47);
    --color-secondary-500: oklch(0.8405 0.1529 48.91);
    --color-alert-500: oklch(0.6549 0.1799 31.2);
}

.nav {
    .current {
        @apply text-highlight-500;
    }
}

.editor {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-headline font-semibold mb-[.75em] mt-[1.5em];

        &:first-child {
            @apply mt-0;
        }
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    p {
        @apply my-[.75em] leading-[1.55em];

        &:first-child {
            @apply mt-0;
        }

        &:last-child {
            @apply mb-0;
        }
    }

    a {
        @apply underline underline-offset-2 decoration-1;
    }

    ul {
        @apply list-disc  pl-4;

        
    }
}

.card .editor {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-[.25em] mt-[.5em];

        &:first-child {
            @apply mt-0;
        }
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }
}

.video-container {
    @apply w-full h-full;

    >* {
        @apply hidden;
    }

    >iframe {
        @apply block w-full h-full;
    }
}

.swiper-button-disabled {
    @apply cursor-default! opacity-30;
}
